// Viewport width
$width-desk-l: 1920px;
$width-desk-s: 1024px;
$width-tab: 768px;
$width-mob: 360px;

// Colors
$main-color: #313131;
$shadow: #223c50;
$bg: #cacaca;
$bg-hover: #dfdfdf;
$light: #ffffff;
$blue: #0000ff;
$red: #ff0000;
$brown: #7a3f08;
$purple: #b1099a;
$pink: #df10c3;
